src/main/wsdl/wsdl0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:i0="http://services.digikey.com/dkservices"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
    <wsp:Policy wsu:Id="soap_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false"/>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:import namespace="http://services.digikey.com/dkservices"
                 location="DKServices.wsdl"/>
    <wsdl:types/>
    <wsdl:binding name="soap" type="i0:IService">
        <wsp:PolicyReference URI="#soap_policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateBillOfMaterials">
            <soap:operation soapAction="http://services.digikey.com/dkservices/IService/CreateBillOfMaterials"
                            style="document"/>
            <wsdl:input>
                <soap:header message="i0:IService_CreateBillOfMaterials_InputMessage_Headers" part="Security"
                             use="literal"/>
                <soap:header message="i0:IService_CreateBillOfMaterials_InputMessage_Headers" part="Locale"
                             use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="i0:IService_CreateBillOfMaterials_OutputMessage_Headers" part="Security"
                             use="literal"/>
                <soap:header message="i0:IService_CreateBillOfMaterials_OutputMessage_Headers" part="Locale"
                             use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetBillOfMaterials">
            <soap:operation soapAction="http://services.digikey.com/dkservices/IService/GetBillOfMaterials"
                            style="document"/>
            <wsdl:input>
                <soap:header message="i0:IService_GetBillOfMaterials_InputMessage_Headers" part="Security"
                             use="literal"/>
                <soap:header message="i0:IService_GetBillOfMaterials_InputMessage_Headers" part="Locale" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="i0:IService_GetBillOfMaterials_OutputMessage_Headers" part="Security"
                             use="literal"/>
                <soap:header message="i0:IService_GetBillOfMaterials_OutputMessage_Headers" part="Locale"
                             use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddDetailsToBom">
            <soap:operation soapAction="http://services.digikey.com/dkservices/IService/AddDetailsToBom"
                            style="document"/>
            <wsdl:input>
                <soap:header message="i0:IService_AddDetailsToBom_InputMessage_Headers" part="Security" use="literal"/>
                <soap:header message="i0:IService_AddDetailsToBom_InputMessage_Headers" part="Locale" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="i0:IService_AddDetailsToBom_OutputMessage_Headers" part="Security" use="literal"/>
                <soap:header message="i0:IService_AddDetailsToBom_OutputMessage_Headers" part="Locale" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteBomDetails">
            <soap:operation soapAction="http://services.digikey.com/dkservices/IService/DeleteBomDetails"
                            style="document"/>
            <wsdl:input>
                <soap:header message="i0:IService_DeleteBomDetails_InputMessage_Headers" part="Security" use="literal"/>
                <soap:header message="i0:IService_DeleteBomDetails_InputMessage_Headers" part="Locale" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="i0:IService_DeleteBomDetails_OutputMessage_Headers" part="Security"
                             use="literal"/>
                <soap:header message="i0:IService_DeleteBomDetails_OutputMessage_Headers" part="Locale" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Authenticate">
            <soap:operation soapAction="http://services.digikey.com/dkservices/IService/Authenticate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Notify">
            <soap:operation soapAction="http://services.digikey.com/dkservices/IService/Notify" style="document"/>
            <wsdl:input>
                <soap:header message="i0:IService_Notify_InputMessage_Headers" part="Security" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="i0:IService_Notify_OutputMessage_Headers" part="Security" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Search">
            <soap:operation soapAction="http://services.digikey.com/dkservices/IService/Search" style="document"/>
            <wsdl:input>
                <soap:header message="i0:IService_Search_InputMessage_Headers" part="Security" use="literal"/>
                <soap:header message="i0:IService_Search_InputMessage_Headers" part="Locale" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="i0:IService_Search_OutputMessage_Headers" part="Security" use="literal"/>
                <soap:header message="i0:IService_Search_OutputMessage_Headers" part="Locale" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>